
.groups {
    &-container {
        height: full;
        width: 600px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    &-heading {
        margin-bottom: 10px;
    }

    &-toprow {
        display: flex;
        justify-content: space-between;
    }

    &-column-item {
        border-style: ridge;
    }

    &-hr {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &-table {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-style: ridge;
        margin-top: 10px;
    }
}

.project-hr {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 600px;
}

.enter-group-prompt-container {
    margin-top: 40px;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

.group-options {
    width: 35px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.project-container {
    height: 50px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.project-container-heading {
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.add-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #45a049; 
    }
}

.project-empty-prompt {
    text-align: center;
    padding: 10px;
}

.warning-text {
    color: red;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.648);
}