.navbar {
    &-container {
        display: flex;
        justify-content: space-evenly;
        width: full;
        list-style: none;
        padding: 10px;
        height: 20px;
        background-color: lightgray;
    }

    &-item {
        cursor: pointer;
        &:hover {
            color: rgb(108, 98, 98);
        }
    }
}