<form *ngIf="isHidden" class='add-project-container' [formGroup]="addProjForm"  (ngSubmit)="addProject()">
    <div class="add-project-heading">
        <h3>Add Project</h3>
        <button class='close-button' (click)="closeModal()">X</button> 
    </div>
    <div>
        <label for="proj-name">Project Name</label>
        <input type="text" name="proj-name" formControlName="projectName">
        <div *ngIf="addProjForm.get('projectName')?.hasError('required')">
            <label class="warning-text">* Name is required.</label>
        </div>
    </div>

    <div>
        <label for="proj-desc">Project Desc</label>
        <input type="text" name="proj-desc" formControlName="projectDesc">
        <div *ngIf="addProjForm.get('projectDesc')?.hasError('required')">
            <label class="warning-text">* Description is required.</label>
        </div>
    </div>
    <input class='add-project-submit' type="submit" value="Enter" >
</form>